av==15.1.0
numpy==1.26.4
opencv-python-headless==4.11.0.86
pygame==2.6.1
PyYAML==6.0.2
tellopy @ git+https://github.com/hanyazou/tellopy.git@2e3ff77f87448307d6d2656c91ac80e2fb352193
tf-transformations==1.1.0
